<?xml version="1.0" encoding="utf-8"?>
<configuration>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" /></startup>
	<appSettings>
		<add key="connString" value="Data Source = DBSRV\mam2022; Initial Catalog = DEMO4; Integrated Security = True;" />
	</appSettings>
<connectionStrings>
<add name="DEMO4Entities" connectionString="metadata=res://*/BaseModel.csdl|res://*/BaseModel.ssdl|res://*/BaseModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=Aldar;initial catalog=DEMO4;integrated security=True;multipleactiveresultsets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient" /></connectionStrings>
</configuration>
